.Loginpage{
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
    margin-right: 15%;
    
    
}
body{

    background-image: url(back.webp);
    background-size: cover;

}



.boxx{

    width: 450px;
    height: 635px;
    background: transparent;    
    border: 2px solid rgba(255, 255,255, 0.5);
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
    border-radius: 20px;
    margin-left: 35%;
    margin-right: 25%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 20px; */
    /* border:1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);




}
